[user]
        name = Pau Vilella
        email = pau.vilella.st@gmail.com

[credential]
        helper = osxkeychain

[init]
        defaultbranch = main

[alias]
	home = rev-parse --show-toplevel
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  last = log -1 HEAD
  tidy = !git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | egrep -v 'main|master|develop' | xargs -r git branch -D
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  plog = log --pretty=format:'%C(blue)%h %C(yellow)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --graph --all

[column]
        ui = auto

[branch]
        sort = -committerdate

[tag]
        sort = version:refname

[init]
        defaultBranch = main

[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true

[push]
        default = simple
        autoSetupRemote = true
        followTags = true

[fetch]
        prune = true
        pruneTags = true
        all = true

[help]
        autocorrect = prompt

[commit]
        verbose = true

[rerere]
        enabled = true
        autoupdate = true

[core]
        editor = nvim
        excludesfile = ~/.gitignore

[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[core]
        fsmonitor = true
        untrackedCache = true

[merge]
        conflictstyle = zdiff3 

[pull]
        rebase = true

# Include Work specific config
[includeIf "gitdir:~/git/work/**"]
        path = ~/.work/.gitconfig
