[user]
        name = Pau Vilella
        email = pau.vilella.st@gmail.com

[credential]
        helper = osxkeychain

[init]
        defaultbranch = main

[alias]
	home = rev-parse --show-toplevel
        a = add .
        c = commit -m
        p = push
        ph = push -u origin head
        nb = checkout -b
        m = checkout main

# Include Work specific config
[includeIf "gitdir:~/git/work/**"]
        path = ~/.work/.gitconfig
